/* Alterar paddings top e bottom em toda a seção de produtos */
.storely-content .post-section {
	padding-top: 2rem !important;
	padding-bottom: 4rem !important
}

/* Alterar estilização do container dos produtos */
#product .container {
	background-color: var(--color-bg-surface);
	padding: 2rem;
	border-radius: var(--border-radius-bigger)
}

/* Altera heading da página Loja */
.page-title {
	font-size: 2.5rem;
	font-weight: 600;
	color: var(--color-brand) !important;
    margin-bottom: 2rem !important;
	text-transform: uppercase;
	text-decoration: underline;
}

.wp-post-image {
	height: 276.08px !important;
}

.product {
	height: 512px !important;
}

.product-single-ready {
	display: flex !important;
	border-radius: 16px !important;
}

div.product-img {
	height: 162px !important;
	border-bottom: 1px solid var(--color-border-light)
}

.product-img img {
	width: 162px !important;
	height: 162px !important;
}

.product-img .info {
	display: none  !important;
}

.product-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100px;
}

.product-content h3 {
	font-size: 0.875rem !important;
}

.product-content .price {
	margin: 0 !important;
	font-size: 1rem !important;
	font-weight: bold !important;
	color: var(--color-brand) !important;
}

.product-content-outer {
	flex: 1 !important;
}

.woocommerce-Price-amount bdi {
	font-weight: 700 !important;
}