/* Altera heading da página Loja */
.page-title {
	font-size: 3rem;
	font-weight: 600;
	color: var(--color-brand) !important;
    margin-bottom: 0;
	text-transform: uppercase;
}

.wp-post-image {
	height: 276.08px !important;
}