/* Altera display da table de informações do produto*/
table.variations {
	display: flex !important;
	justify-content: space-between;
	align-items: center;
}

table.variations th.label {
	display: inline !important;
	white-space: nowrap !important;
	padding: 0 !important;
	margin-right: 0.5rem;
}

table.variations select {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	display: block !important;
	flex: 1;
}
/* ------------------------------------------------------------ */

/* Adiciona background e box-shadow às informações do produto */
div.summary {
	border: 1px solid var(--color-border-light);
	background-color: var(--color-bg-surface);
	border-radius: var(--border-radius-default);
	padding: 2rem !important;
	box-shadow: 0 1px 3px rgba(0,0,0,.08), 0 10px 25px rgba(0,0,0,.15);
}

/* Justifica o descrição do produto */
div.woocommerce-product-details__short-description p {
	text-align: justify !important;
}

/* Altera display da div de ações na página do produto */
form.cart, div.woocommerce-variation-add-to-cart {
	display: inline-flex !important;
	align-items: center;
	gap: 0.5rem;
}

form.variations_form {
	display: flex !important;
	flex-direction: column !important;
	align-items: flex-start;
}

form.cart .single_add_to_cart_button {
	margin: 0 !important;
	background-color: var(--color-accent) !important;
	color: var(--color-text-primary) !important;
}

form.cart .single_add_to_cart_button:hover {
	background-color: var(--color-accent-hover) !important;
	outline: none;
}

form.cart .single_add_to_cart_button:active {
	background-color: var(--color-accent-active) !important;
}

form.cart .quantity {
	order: 0;
	margin: 0 !important;
}
/* ------------------------------------------------------------ */

/* Altera cores dos botões de ações da página de produtos */
button.shopengine-wishlist, a.shopengine-comparison {
	border: none;
	background-color: var(--color-bg-surface);
	color: var(--color-brand);
	margin: 0 !important;
	order: 1;
	font-size: 1rem;
}